
@page "/Boletas"

@inject IRepository repository;

<h3>Boletas</h3> 

<GenericList MyList="Boletas">
    <Loading>
        <p>Cargando...</p>
    </Loading>
    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Boletas</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var boleta in Boletas!)
                {
                    <tr>
                        <td>
                            <a class="btn btn-warning">Editar</a>
                            <button class="btn btn-danger">Borrar</button>
                        </td>
                        <td>
                            @boleta.Id
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </Body>

</GenericList>


@code {
    public List<Boleta>? Boletas { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var responsehttp = await repository.Get<List<Boleta>>("/api/boletas");
        Boletas = responsehttp.Response;
    }   

}
